services:
  ms-auth:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ms-auth
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - ms-network
    restart: unless-stopped

networks:
  ms-network:
    external: true
